/* style.css */
.mini-card {
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 250px;
    border: 2px solid rgb(87, 74, 80);
    border-radius: 8px;
    margin-bottom: 20px;
    border-style: solid;
    text-decoration: none;
    overflow: hidden;
    background-color: rgb(255, 255, 255);
  }
  .mini-card:hover {
    border-color: #a16376;
  }
  
.mini-image {
    width: 100%;
    height: 150px;
    object-fit: cover;
  }
  
 .mini-info {
    padding: 10px;
    color:#30292c;
  }
  .mini-info h3 {
    overflow: hidden; 
    text-overflow: ellipsis;    
    white-space: nowrap;        
    max-width: 100%; 
    
  }
  .mini-info p {
    font-weight: 400;
  }