/* UTILITIES */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: SourceSansPro,Helvetica,sans-serif;
    font-size: 0.95rem;
    font-weight: 450;
    letter-spacing: 1.5px;
    line-height: 1.5rem;
    text-transform: lowercase;
    text-underline-offset: .25rem;
    -webkit-font-smoothing: antialiased;
  }
body {
    background-color: #ffdfdf;
    font-size: 1.125rem;
    line-height: 1.75rem;
}
a {
    text-decoration: none;
}
li {
    list-style: none;
}
button:hover {
    cursor: pointer;
}

/* NAV-BAR */
.nav-container {
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    align-items: center;
    padding: 20px;
    gap: 1em;
}
.nav-container li:hover{
    background-color:#ffe9ef;
    border-radius: 10px;
    transition: 0.3s ease;
}
.nav-container li {
    padding: px 14px;
}
.nav-container a{
    color: rgb(75, 75, 75);
}
.web-title {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.mai-logo {
    width: 35px;
}
.web-name {
    color: rgb(75, 75, 75);
    font-family: SourceSansPro,Helvetica,sans-serif;
    font-size: 2rem;
    font-weight: 500;
    letter-spacing: 1px;
    line-height: 1.5rem;
    text-transform: lowercase;
    text-underline-offset: .25rem;
}
.search {
     background-color: bisque; 
}
.right-nav {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.about {
    padding: 10px;
}
.profile-circle {
    border-width: 1px;
    border: solid;
    border-color: #909090;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 50%;
    transition: 0.1s;
}
.profile-circle:hover {
    border-color: #eb8383;
}


/* DROPDOWN MENU */
.ingredient-search {
    position: relative;
}
.search-dropdown {
    background-color: #eeeeee;
    padding: 10px;
    position: absolute; /*WITH RESPECT TO PARENT*/
    display: none;
    top: 35px;
    width: 60em;
    border-radius: 15px;
    
}
.ingredient-search:hover .search-dropdown {
    display: block;
}
.find-button {
    border-radius:8px;
    font-size: 15px;
    padding: 2px 50px;
    background-color: transparent;
}
.find-button:hover {
    background-color: rgb(255, 241, 241);
    transition: 0.3s;
}
.section-container {
    background-color: rgb(3, 3, 3);
    display: flex;
    
}
.section-container legend{
    font-size: 20px;
}
.section-container fieldset{
    font-size: 16px;
}
.protien-section {
    background-color: rgb(255, 220, 176);
}
.vegetable-section {
    background-color: rgb(255, 182, 94);
}
.fruit-section {
    background-color: rgb(255, 140, 0);
}

/* TRENDING CONTAINER */
.trending-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 40px;
    width: auto;
}
.recipe-preview {
    background-color: rgb(226, 226, 226);
    border-radius: 40px;
    height: 300px;
    width: 350px;
}
.recipe-image {
    height: 220px;
}
.recipe-image img {
    height: 100%;
    width: 100%;
    border-top-right-radius: 40px;
    border-top-left-radius: 40px;
}
.recipe-title {
    display: flex;
    font-size: 0.9rem;
    font-weight: 900;
    letter-spacing: 1.5px;
    line-height: 1.5rem;
    text-transform: uppercase;
    text-underline-offset: .25rem;
}
.recipe-text {
    display: flex;
    font-size: 0.75rem;
    font-weight: 400;
    letter-spacing: 1px;
    line-height: 1.5rem;
    text-transform: uppercase;
    text-underline-offset: .25rem;
}

/*LOGIN PAGE */
.login-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-size: 0.95rem;
    font-weight: 450;
    letter-spacing: 1.5px;
    line-height: 1.5rem;
    text-transform: lowercase;
    text-underline-offset: .25rem;
}
.login-field {
    display: flex;
    flex-direction: column;
    padding: 10px;
}
.input-field {
    border-radius: 9px;
    border: none;
    padding:2px 10px;
    transition-duration: 0.5s;
}
input:focus {
    outline-color: #ec4a4a;
    border-radius: 15px;
}
.login-button {
    border-radius: 8px;
    background-color: rgb(255, 197, 197);
    transition-duration: 0.4s;
    cursor: pointer;
    border: none;
}
.login-button:hover {
    background-color: #f77f7f;
}
.link {
    color: #f05f5f;
    transition-duration: 0.4s;
}
.link:hover {
    color: #f77f7f;
    
}