/* UTILITIES */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: SourceSansPro,Helvetica,sans-serif;
    letter-spacing: 1.2px;
    text-underline-offset: .25rem;
    -webkit-font-smoothing: antialiased;
  }
body {
    background-color: #ffdfdf;
    line-height: 1rem;
    min-height: 100vh;
}
a {
    color: inherit;
    position: relative;
    line-height: 24px;
}
a:hover {
    color: inherit;
    text-decoration: none !important;
}
li {
    list-style: none;
}
button:hover {
    cursor: pointer;
}



/* NAV-BAR */
.nav-container {
    background-color: #ffdfdf;
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    align-items: center;
    padding: 0.8rem 2rem;
    gap: 1em;
    box-shadow: 0px 1px 10px #ccb5b5;
}
.nav-container li:hover{
    background-color:#ffe9ef;
    border-radius: 10px;
    transition: 0.3s ease;
}
.nav-container li {
    padding: px 14px;
}
.nav-container a{
    color: rgb(75, 75, 75);
}
.web-title {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 0.3rem;
}

.sprite-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: .5rem;
    animation: slide 3s forwards;
    transform: translateX(-100%);
}
@keyframes slide {
    from {
        transform: translateX(calc(-100% - 2rem));
    }
    to {
        transform: translateX(0%);
    }
}
.mai-sprite {
    /*115 × 23*/
    width: calc(115px / 6);
    height: 23px;
    background:url(src/assets/maiSprite.png);
    animation: animate 0.4s steps(6) infinite;
    transform: scale(2);
}
@keyframes animate {
    from {
        background-position: 0;
    }
    to {
        background-position: -115px;
    }
}
.web-name {
    color: rgb(75, 75, 75);
    font-size: 1.7rem;
    font-weight: 550;
    text-transform: lowercase;
    text-underline-offset: .25rem;
}
.right-nav {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 1.3rem;
}
.search {
    display: flex;
    justify-content: center;
    align-items: center;
}
.search img {
    width: 1.5rem;
    margin-right: 0.2rem;
}
.about {
    text-align: center;
}
.profile-circle {
    border-width: 1px;
    border: solid;
    border-color: #909090;
    background-color: #ffffff;
    padding: 1.5rem;
    border-radius: 50%;
    transition: 0.1s;
}
.profile-circle:hover {
    border-color:#a16376;
}
a::before, a::after {
    content: '';
    position: absolute;
    transition: transform .5s ease;
}
.hover-line {
    text-decoration: none !important;
    padding-bottom: 0.4rem;
}
.hover-line::before {
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background: #a16376;
    transform: scaleX(0);
}
.hover-line:hover::before {
    transform: scaleX(1);
}




/* TRENDING CONTAINER */
.trending-header {
    display: flex;
    text-transform: lowercase;
    text-align: left;
    font-size: 2rem;
    padding-left: 4rem;
    padding-top: 2rem;
    background-color: #996c6c;
}
.trending-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    padding: 2rem 4rem;
    gap: 2rem;
}
.trending-container a {
    color: inherit;
    text-decoration: none;
}
.recipe-preview {
    border-style:solid;
    border-color: rgb(209, 168, 168);
    background-color: rgb(226, 226, 226);
    border-radius: 40px;
    height: 300px;
    width: 350px;
}
.recipe-preview:hover {
    border-color: #f79273;
}
.recipe-image {
    height: 220px;
}
.recipe-image img {
    height: 100%;
    width: 100%;
    border-top-right-radius: 40px;
    border-top-left-radius: 40px;
}
.recipe-title {
    display: flex;
    font-size: 0.9rem;
    font-weight: 900;
    letter-spacing: 1.5px;
    line-height: 1.5rem;
    text-transform: uppercase;
}
.recipe-text{
    display: flex;
    font-size: 0.75rem;
    font-weight: 400;
    letter-spacing: 1px;
    line-height: 1.5rem;
    text-transform: uppercase;
}


/*LOGIN PAGE */
.login-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-size: 0.95rem;
    font-weight: 450;
    letter-spacing: 1.5px;
    line-height: 1.5rem;
    text-transform: lowercase;
    text-underline-offset: .25rem;
}
.login-field {
    display: flex;
    flex-direction: column;
    padding: 10px;
    gap: 0.3rem;
}
.input-container {
    display: flex;
    flex-direction: column;
}
.input-field {
    border-radius: 9px;
    border: none;
    padding:2px 10px;
    transition-duration: 0.5s;
}
input:focus {
    outline-color: #ec4a4a;
    border-radius: 15px;
}
.login-button {
    text-align: center;
    border-radius: 8px;
    background-color: rgb(255, 197, 197);
    transition-duration: 0.4s;
    cursor: pointer;
    border: none;
}
.login-button:hover {
    background-color: #f77f7f;
}
.link {
    color: #f05f5f;
    transition-duration: 0.4s;
}
.link:hover {
    color: #f77f7f;
    
}
.login-footer {
    text-align: left;
}



/* SEARCH INGREDIENTS */
.search-tip {
    display: flex;
    justify-content: center;
    padding: 2rem 1rem;
    align-items: center;
}
.search-tip p{
    overflow: hidden; 
    font-size: 1rem; 
    font-weight: normal;
    border-right: .15em solid rgb(176, 177, 143);
    white-space: nowrap;      
    animation: 
    typing 3.5s steps(40, end), 
    blink-caret .70s step-end infinite;
}
@keyframes typing {
    from { width: 0% }
    to { width: 23% }
}
@keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: rgb(87, 87, 87); }
}  
.main-selection {
    
}
.selection-container {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    padding: 0rem 2rem;
    background-color: #a78b8fa6;
}
.selection-border {
    border-width: 0.2vh;
}
.search-by-ingredients-wrap {
    grid-area: 1 / 1 / 2 / 2;
    padding: 0.5rem 1rem 2rem;
}
.search-span {
    display: flex;
    justify-content: center;
    font-size: 1.2rem;
    font-weight: bold;
    color:#414141;
}
.search-by-ingredients-wrap:hover {
    border-style: solid;
    border-width: 0.15rem;
    border-color:#a16376;
}
.search-by-name-wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    grid-area: 1 / 2 / 2 / 3;
    padding: 0.5rem 1rem 2rem;
}
.search-by-name-wrap input {
    display: none;
}
.search-by-name-wrap:hover input{
   display: flex;
}
.search-by-name-wrap:hover {
    border-style: solid;
    border-width: 0.15rem;
    border-color: rgb(150, 90, 100);
}
.search-by-name-input {
    border-radius: 8px;
    border: none;
    margin-top: 1rem;
    padding:2px 10px;
    width: 50%;
    transition-duration: 0.5s;
}
.search-by-name-input:focus {
    outline-color: #ec4a4a;
    border-radius: 15px;
}
.section-container-wrap {
    padding: 1rem 2rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.section-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2rem;
}
.sections {
    background-color: #f0c4c4c5;
    width: 30rem;
    display: flex;
    flex-direction: column;
    gap: 0.4rem;
    padding: 1rem 0.5rem 1.5rem;
    border-radius: 10px;
    box-shadow: 0px 1px 10px #a39797;
}
.food-type {
    display: flex;
    justify-content: left;
    align-items: center;
    border-end-end-radius: 20px;
    padding: 1rem 0.5rem 1.5rem;
    font-size: 1.3rem;
    font-weight: bold;
    color: #3f3f3f;
    box-shadow: 0px 1px 10px #af8989;
}
.ingredient-wrapper {
    color: #333333;
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 1rem 0.5rem;
    flex-wrap: wrap;
    max-height: 500px;
    gap: 0.85rem;
    font-weight: normal;
}
ul.ks-cboxtags {
    list-style: none;
    padding: 20px;
}
ul.ks-cboxtags li{
  display: inline;
}
ul.ks-cboxtags li label{
    display: inline-block;
    background-color: rgba(253, 246, 246, 0.9);
    border: 2px solid rgba(95, 84, 84, 0.3);
    color: #adadad;
    border-radius: 25px;
    white-space: nowrap;
    margin: 3px 0px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
    transition: all .2s;
}
ul.ks-cboxtags li label {
    padding: 8px 12px;
    cursor: pointer;
}
ul.ks-cboxtags li label::before {
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    font-size: 12px;
    padding: 2px 6px 2px 2px;
    content: "\f067";
    transition: transform .3s ease-in-out;
}
ul.ks-cboxtags li input[type="checkbox"]:checked + label::before {
    content: "\f00c";
    transform: rotate(-360deg);
    transition: transform .3s ease-in-out;
}
ul.ks-cboxtags li input[type="checkbox"]:checked + label {
    border: 2px solid #dd8aa3;
    background-color: #ffc8d4;
    color: #fff;
    transition: all .2s;
}
ul.ks-cboxtags li input[type="checkbox"] {
  display: absolute;
}
ul.ks-cboxtags li input[type="checkbox"] {
  position: absolute;
  opacity: 0;
}
ul.ks-cboxtags li input[type="checkbox"]:focus + label {
  border: 2px solid #d16b89;
}
.find-recipes-button-container {
    padding: 1rem 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.find-recipes-button {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.3rem;
    border-radius: 10px;
    padding: 1rem 5rem;
    width: 25%;
    background-color: rgb(250, 200, 200);
    box-shadow: 0px 1px 5px #d1c7c7;
    transition-duration: 0.4s;
    border: none;
    text-decoration: none !important;
    color: inherit;
}
.find-recipes-button img {
    width: 2.5rem;
}
.find-recipes-button:hover {
    background-color: rgb(250, 213, 213);
    border-radius: 20px;
}
.link {
    color: #f05f5f;
    transition-duration: 0.4s;
}
.link:hover {
    color: #f77f7f;
    
}



/* FOOTER */
.footer {
    background-color: rgb(83, 66, 74);
    position: sticky;
    top: 100%;
    padding: 2.3rem 1rem;
    color: rgb(255, 242, 244);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}
.footer-title{
    display: flex;
    align-items: center;
}
.footer-title img{
    width: 2.7rem;
    transform: rotate(30deg);
    margin-bottom: 0.3rem;
}
.footer-title h2 {
    font-size: 1.5rem;
    letter-spacing: 1.5px;
}
.footer-info {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2.5rem;
}
.github-container {
    display: flex;
    justify-content: center;
    align-items: center;
}
.linkedin-container {
    display: flex;
    justify-content: center;
    align-items: center;
}
.github-logo {
    width: 1.62rem;
}
.linkedin-logo {
    width: 1.83rem;
}


/* MEDIA SIZING */
@media (max-width: 650px) {
    body {
        font-size: 0.9rem;
    }
    .web-name {
        font-size: 1.5rem;
    }
    .profile-circle {
        padding: 1.1rem;
    }
    .right-nav {
        gap: 0.8rem;
        font-size: 0.9rem;
    }
    .search img {
        width: 15px;
        margin: 0.1rem;
    }
    .mai-sprite {
        /*115 × 23*/
        transform: scale(1.5);
    }
    .search-span {
        font-size: 1rem;
    }
    
}
@media (max-width: 450px) {
    body {
        font-size: .7rem;
    }
    .web-name {
        font-size: 1rem;
    }
    .profile-circle {
        padding: 0.7rem;
    }
    .recipe-title {
        font-size: 0.7rem;
    }
    .recipe-text{
        font-size: 0.5rem;
    }
    .right-nav {
        gap: 0.6rem;
        font-size: 0.6rem;
    }
    .search img {
        width: 10px;
        margin: 0.01rem;
    }
    .mai-sprite {
        /*115 × 23*/
        transform: scale(1.2);
    }
    .search-span {
        font-size: 0.8rem;
    }
}

