/* UTILITIES */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: SourceSansPro,Helvetica,sans-serif;
    font-weight: 470;
    letter-spacing: 1.2px;
    text-underline-offset: .25rem;
    -webkit-font-smoothing: antialiased;
  }
body {
    background-color: #ffdfdf;
    font-size: 1rem;
    line-height: 1rem;
}
a {
    color: inherit;
    position: relative;
    line-height: 24px;
}
li {
    list-style: none;
}
button:hover {
    cursor: pointer;
}



/* NAV-BAR */
.nav-container {
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    align-items: center;
    padding: 0.8rem 2rem;
    gap: 1em;
    box-shadow: 0px 1px 10px #ccb5b5;
}
.nav-container li:hover{
    background-color:#ffe9ef;
    border-radius: 10px;
    transition: 0.3s ease;
}
.nav-container li {
    padding: px 14px;
}
.nav-container a{
    color: rgb(75, 75, 75);
}
.web-title {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 0.3rem;
}
.sprite-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: .5rem;
    animation: slide 3s forwards;
    transform: translateX(-100%);
}
@keyframes slide {
    from {
        transform: translateX(calc(-100% - 2rem));
    }
    to {
        transform: translateX(0%);
    }
}
.mai-sprite {
    /*115 × 23*/
    width: calc(115px / 6);
    height: 23px;
    background:url(assets/maiSprite.png);
    animation: animate 0.4s steps(6) infinite;
    transform: scale(2);
}
@keyframes animate {
    from {
        background-position: 0;
    }
    to {
        background-position: -115px;
    }
}
.web-name {
    color: rgb(75, 75, 75);
    font-size: 1.7rem;
    font-weight: 550;
    text-transform: lowercase;
    text-underline-offset: .25rem;
}
.right-nav {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 1.3rem;
}
.search {
    align-items: center;
}
.search img {
    width: 20px;
    margin: 0.4rem;
}
.about {
    text-align: center;
}
.profile-circle {
    border-width: 1px;
    border: solid;
    border-color: #909090;
    background-color: #ffffff;
    padding: 1.5rem;
    border-radius: 50%;
    transition: 0.1s;
}
.profile-circle:hover {
    border-color: #eb8383;
}
a::before, a::after {
    content: '';
    position: absolute;
    transition: transform .5s ease;
}
.hover-line {
    text-decoration: none !important;
    padding-bottom: 0.4rem;
}
.hover-line::before {
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background: #492059;
    transform: scaleX(0);
}
.hover-line:hover::before {
    transform: scaleX(1);
}




/* TRENDING CONTAINER */
.trending-header {
    display: flex;
    text-transform: lowercase;
    text-align: left;
    font-size: 2rem;
    padding-left: 4rem;
    padding-top: 2rem;
    background-color: #996c6c;
}
.trending-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    padding: 2rem 4rem;
    gap: 2rem;
}
.trending-container a {
    color: inherit;
    text-decoration: none;
}
.recipe-preview {
    border-style:solid;
    border-color: rgb(209, 168, 168);
    background-color: rgb(226, 226, 226);
    border-radius: 40px;
    height: 300px;
    width: 350px;
}
.recipe-preview:hover {
    border-color: #f79273;
}
.recipe-image {
    height: 220px;
}
.recipe-image img {
    height: 100%;
    width: 100%;
    border-top-right-radius: 40px;
    border-top-left-radius: 40px;
}
.recipe-title {
    display: flex;
    font-size: 0.9rem;
    font-weight: 900;
    letter-spacing: 1.5px;
    line-height: 1.5rem;
    text-transform: uppercase;
}
.recipe-text{
    display: flex;
    font-size: 0.75rem;
    font-weight: 400;
    letter-spacing: 1px;
    line-height: 1.5rem;
    text-transform: uppercase;
}


/*LOGIN PAGE */
.login-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-size: 0.95rem;
    font-weight: 450;
    letter-spacing: 1.5px;
    line-height: 1.5rem;
    text-transform: lowercase;
    text-underline-offset: .25rem;
}
.login-field {
    display: flex;
    flex-direction: column;
    padding: 10px;
    gap: 0.3rem;
}
.input-container {
    display: flex;
    flex-direction: column;
}
.input-field {
    border-radius: 9px;
    border: none;
    padding:2px 10px;
    transition-duration: 0.5s;
}
input:focus {
    outline-color: #ec4a4a;
    border-radius: 15px;
}
.login-button {
    text-align: center;
    border-radius: 8px;
    background-color: rgb(255, 197, 197);
    transition-duration: 0.4s;
    cursor: pointer;
    border: none;
}
.login-button:hover {
    background-color: #f77f7f;
}
.link {
    color: #f05f5f;
    transition-duration: 0.4s;
}
.link:hover {
    color: #f77f7f;
    
}
.login-footer {
    text-align: left;
}



/* SEARCH INGREDIENTS */
.search-tip {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: #ccb5b5;
}
.search-tip p{
    overflow: hidden; 
    font-size: medium; 
    border-right: .15em solid rgb(176, 177, 143);
    letter-spacing: .1em; /* Adjust as needed */
    white-space: nowrap;      
    animation: 
    typing 3.5s steps(40, end), 
    blink-caret .70s step-end infinite;
}
@keyframes typing {
    from { width: 0% }
    to { width: 40% }
}
@keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: rgb(107, 106, 106); }
}  
.section-container {
    background-color: rgba(161, 69, 69, 0.438);
    padding: 1rem 2rem;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2rem;
}
.sections {
    background-color: #e6bebec5;
    width: 30rem;
    display: flex;
    flex-direction: column;
    gap: 0.4rem;
    border-end-end-radius: 2rem;
}
.sections legend {
    display: flex;
    justify-content: left;
    align-items: center;
    padding-bottom: 1.2rem;
    font-size: 1.4rem;
    letter-spacing: 0.5rem;
    background-color: #eb8383;
}
.checkbox-wrapper-1 *,
  .checkbox-wrapper-1 ::after,
  .checkbox-wrapper-1 ::before {
    box-sizing: border-box;
  }
  .checkbox-wrapper-1 [type=checkbox].substituted {
    margin: 0;
    width: 0;
    height: 0;
    display: inline;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
  }
  .checkbox-wrapper-1 [type=checkbox].substituted + label:before {
    content: "";
    display: inline-block;
    vertical-align: top;
    height: 1.15em;
    width: 1.15em;
    margin-right: 0.6em;
    color: rgba(0, 0, 0, 0.275);
    border: solid 0.06em;
    box-shadow: 0 0 0.04em, 0 0.06em 0.16em -0.03em inset, 0 0 0 0.07em transparent inset;
    border-radius: 0.2em;
    background: url('data:image/svg+xml;charset=UTF-8,<svg xmlns="http://www.w3.org/2000/svg" version="1.1" xml:space="preserve" fill="white" viewBox="0 0 9 9"><rect x="0" y="4.3" transform="matrix(-0.707 -0.7072 0.7072 -0.707 0.5891 10.4702)" width="4.3" height="1.6" /><rect x="2.2" y="2.9" transform="matrix(-0.7071 0.7071 -0.7071 -0.7071 12.1877 2.9833)" width="6.1" height="1.7" /></svg>') no-repeat center, white;
    background-size: 0;
    will-change: color, border, background, background-size, box-shadow;
    transform: translate3d(0, 0, 0);
    transition: color 0.1s, border 0.1s, background 0.15s, box-shadow 0.1s;
  }
  .checkbox-wrapper-1 [type=checkbox].substituted:enabled:active + label:before,
  .checkbox-wrapper-1 [type=checkbox].substituted:enabled + label:active:before {
    box-shadow: 0 0 0.04em, 0 0.06em 0.16em -0.03em transparent inset, 0 0 0 0.07em rgba(0, 0, 0, 0.1) inset;
    background-color: #f0f0f0;
  }
  .checkbox-wrapper-1 [type=checkbox].substituted:checked + label:before {
    background-color: #f58989;
    background-size: 0.75em;
    color: rgba(0, 0, 0, 0.075);
  }
  .checkbox-wrapper-1 [type=checkbox].substituted:checked:enabled:active + label:before,
  .checkbox-wrapper-1 [type=checkbox].substituted:checked:enabled + label:active:before {
    background-color: #fdab97;
    color: rgba(0, 0, 0, 0.275);
  }
  .checkbox-wrapper-1 [type=checkbox].substituted:focus + label:before {
    box-shadow: 0 0 0.04em, 0 0.06em 0.16em -0.03em transparent inset, 0 0 0 0.07em rgba(0, 0, 0, 0.1) inset, 0 0 0 3.3px rgba(247, 181, 181, 0.55), 0 0 0 5px rgba(206, 150, 150, 0.671);
  }
  .checkbox-wrapper-1 [type=checkbox].substituted:focus:active + label:before,
  .checkbox-wrapper-1 [type=checkbox].substituted:focus + label:active:before {
    box-shadow: 0 0 0.04em, 0 0.06em 0.16em -0.03em transparent inset, 0 0 0 0.07em rgba(0, 0, 0, 0.1) inset, 0 0 0 3.3px rgba(65, 159, 255, 0.55), 0 0 0 5px rgba(65, 159, 255, 0.3);
  }
  .checkbox-wrapper-1 [type=checkbox].substituted:disabled + label:before {
    opacity: 0.5;
  }
  .checkbox-wrapper-1 [type=checkbox].substituted.dark + label:before {
    color: rgba(255, 255, 255, 0.275);
    background-color: #222222;
    background-image: url('data:image/svg+xml;charset=UTF-8,<svg xmlns="http://www.w3.org/2000/svg" version="1.1" xml:space="preserve" fill="rgba(34, 34, 34, 0.999)" viewBox="0 0 9 9"><rect x="0" y="4.3" transform="matrix(-0.707 -0.7072 0.7072 -0.707 0.5891 10.4702)" width="4.3" height="1.6" /><rect x="2.2" y="2.9" transform="matrix(-0.7071 0.7071 -0.7071 -0.7071 12.1877 2.9833)" width="6.1" height="1.7" /></svg>');
  }
  .checkbox-wrapper-1 [type=checkbox].substituted.dark:enabled:active + label:before,
  .checkbox-wrapper-1 [type=checkbox].substituted.dark:enabled + label:active:before {
    background-color: #444;
    box-shadow: 0 0 0.04em, 0 0.06em 0.16em -0.03em transparent inset, 0 0 0 0.07em rgba(255, 255, 255, 0.1) inset;
  }
  .checkbox-wrapper-1 [type=checkbox].substituted.dark:checked + label:before {
    background-color: #a97035;
    color: rgba(255, 255, 255, 0.075);
  }
  .checkbox-wrapper-1 [type=checkbox].substituted.dark:checked:enabled:active + label:before,
  .checkbox-wrapper-1 [type=checkbox].substituted.dark:checked:enabled + label:active:before {
    background-color: #c68035;
    color: rgba(0, 0, 0, 0.275);
  }
.find-recipes-button-container {
    background-color: #4444446e;
    padding: 3rem 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.find-recipes-button {
    border-radius: 8px;
    padding: 1rem 5rem;
    background-color: rgb(255, 197, 197);
    transition-duration: 0.4s;
    cursor: pointer;
    border: none;
}
.find-recipes-button:hover {
    background-color: rgb(236, 151, 151);
}
.link {
    color: #f05f5f;
    transition-duration: 0.4s;
}
.link:hover {
    color: #f77f7f;
    
}


/* MEDIA SIZING */
@media (max-width: 650px) {
    body {
        font-size: 0.9rem;
    }
    .web-name {
        font-size: 1.5rem;
    }
    .profile-circle {
        padding: 1.1rem;
    }
    .right-nav {
        gap: 0.8rem;
    }
    .search img {
        width: 15px;
        margin: 0.1rem;
    }
    .mai-sprite {
        /*115 × 23*/
        transform: scale(1.5);
    }
}
@media (max-width: 515px) {
    body {
        font-size: 0.7rem;
    }
    .web-name {
        font-size: 1rem;
    }
    .profile-circle {
        padding: 0.7rem;
    }
    .recipe-title {
        font-size: 0.7rem;
    }
    .recipe-text{
        font-size: 0.5rem;
    }
    .right-nav {
        gap: 0.6rem;
    }
    .search img {
        width: 10px;
        margin: 0.01rem;
    }
    .mai-sprite {
        /*115 × 23*/
        transform: scale(1.2);
    }
}