.profile-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 80vh;
}
.profile-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 2rem;
    gap: 2rem;
}

.profile-img {
    display: flex;
    justify-content: flex-start;
    align-items: center;

}
.profile-edit-container {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
.profile-row {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;
}
.profile-row input {
    border-radius: 2rem;
    padding: 0.3rem 1rem;
    transition-duration: 0.5s;

}
.profile-row input:focus {
    outline-color: #e8abc3;

}