.saved-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(248, 233, 216);

}
.no-recipes{
    padding: 0rem 1rem 2rem 1rem; 
    display: flex;
    justify-content: center;
    text-align: center;
}
.saved-header {
    padding: 2rem;
    font-weight: 800;
    font-size: 27px;
}