.card-container {
    background-color: rgb(194, 194, 180);
    padding: 2rem;
}
.card {
    background-color: beige;
    border-radius: 2rem;
    border-color: rgb(85, 85, 85);
    border-style: solid;
    border-width: 0.2rem;
}
.card-title {
    background-color: rgb(212, 162, 162);
}
.card-info {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}