.detail-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;

    
}


.detail-container {
    padding: 1rem;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 1rem;

}



.detail-label {
    font-weight: 800;
    text-transform: lowercase;
}
.detail-top {
    display: flex;
    gap: 1rem;
}
.detail-img {
    display: flex;
    width: 350px;
    height: 300px;
    text-align: center;
    border: solid;
    border-radius: 1rem;
    border-width: 2px;
    border-color: rgb(87, 74, 80);
    overflow: hidden;

}

.detail-img img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.detail-type {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 5px;
}
.detail-specs {
    display: flex;
    justify-content: center;
    align-items: start;
    text-align: center;
    gap: 15px;

}
.detail-specs-contain {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5px;
}
.detail-specs-contain p{
    font-weight: 800;
    display: flex;
    justify-content: center;
    border: solid;
    border-radius: 5px;
    border-width: 2px;
    padding: 10px 8px;
    background-color: rgb(242, 232, 255);
    border-color: rgb(87, 74, 80);
}
.detail-specs-contain h3 {
    font-weight: 600;
    font-size: 13px;
}   


.detail-ingredients {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    background-color: #dcf1e7;
    justify-content: center;
    flex-direction: column;
    border-style: solid;
    border-radius: 1rem;
    border-width: 2px;
    border-color: rgb(87, 74, 80);
    gap: 0.5rem;
    padding: 1rem;
}

.detail-ingredients h3 {
    font-weight: 800;
}

.detail-ingredients ul {
    display: flex;
    gap: 0.5rem;
    flex-direction: column;
    flex-wrap: wrap;
}

.detail-ingredients li {
    list-style: inside;
    list-style-type: circle;
}

.detail-procedures {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    background-color: #cab9c6;
    justify-content: center;
    flex-direction: column;
    border-style: solid;
    border-radius: 1rem;
    border-width: 2px;
    border-color: rgb(87, 74, 80);
    gap: 0.5rem;
    padding: 1rem;
}

.detail-procedures h3 {
    font-weight: 800;
}

.detail-procedures ol {
    display: flex;
    gap: 0.5rem;
    flex-direction: column;
    flex-wrap: wrap; 
}

.detail-procedures li {
    list-style: inside;
    list-style-type: decimal;

}

@media (max-width: 500px) {
    .detail-container {
        padding: 1rem;
        width: 400px;

    }

}