/* SEARCH INGREDIENTS TIP*/
.search-tip {
    display: flex;
    justify-content: center;
    padding: 2.5rem 1rem;
    background-color: #ffe6ec;
    align-items: center;
}
.search-tip p{
    overflow: hidden; 
    font-weight: 400;
    border-right: .15em solid rgb(104, 85, 94);
    white-space: nowrap;      
    animation: 
    typing 3.5s steps(40, end), 
    blink-caret .70s step-end infinite;
}
@keyframes typing {
    from { width: 0% }
    to { width: 23% }
}
@keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: rgb(87, 87, 87); }
}  



/** BODY **/
.ingredient-body {
    align-items: center;
    padding: 1rem;
}


/** LEFT TABS **/

.tab-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem 4rem;
    flex-direction: column;
    gap: 1.5rem;
    
}
.tab-container span {
    display: flex;
    justify-content: center;
    flex-wrap: wrap; 
    align-items: center;
    line-height: 1.5rem;
    text-align: center;
    width: 550px;
    padding: 0.7rem;
    font-size: 1.5rem;
    color: #382d2d;
    background-color: #9b90988a;
    border: solid;
    border-width: 2px;
    border-radius: 1rem;

}
 .tabs {
    width: 1050px;
	display: flex;
	flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    border: solid;
    border-width: 2px;
    border-color: rgb(87, 74, 80);
    border-radius: 1rem;
    background-color: #e8abc3;
    overflow: hidden;
    grid-area:1 / 1 / 2 / 2; 
}
.tabs label {
	order: 1; 
    font-weight: 600;
	display: block;
	padding: 1rem 2rem;
	cursor: pointer;
    color: #464444;
    background: #e8abc3;
    transition: background ease 0.2s;
}

.tabs .tab {
    order: 99; 
    flex-grow: 1;
    width: 100%;
    display: none;
    padding: 0.5rem;
    background: #fff;
}
.tabs input[type="radio"] {
	display: none;
}
.tabs input[type="radio"]:checked + label {
	background: #fff;
}
.tabs input[type="radio"]:checked + label + .tab {
	display: block;   
}
@media (max-width: 45em) {
  .tabs .tab,
  .tabs label {
    order: initial;
  }
  .tabs label {
    width: 100%;
    margin-right: 0;
    margin-top: 0.2rem;
  }
}

.checkbox-wrapper-47 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 325x;
    background-color: #c5b6a763;
    border-radius: 5px;
}
.checkbox-wrapper-47 p {
    font-size: small;
    color: #575054;
  }
.checkbox-wrapper-47 input[type="checkbox"] {
    display: none;
    visibility: hidden; 
  }
  .checkbox-wrapper-47 label {
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-items: center;
    position: relative;
    padding-left: 2em;
    padding-right: 1em;
    line-height: 2;
    cursor: pointer;
    display: inline-flex;
    user-select: none;
  }

  .checkbox-wrapper-47 label:before {
    box-sizing: border-box;
    content: " ";
    position: absolute;
    top: 0.3em;
    left: 0;
    display: block;
    width: 1.4em;
    height: 1.4em;
    border: 2px solid #9e8a98;
    border-radius: 6px;
  }

  .checkbox-wrapper-47 input[type=checkbox]:checked + label {
    padding-left: 1em;
    color: rgb(26, 22, 22);
    
  }
  .checkbox-wrapper-47 input[type=checkbox]:checked + label:before {
    top: 0;
    width: 100%;
    height: 2em;
    background: rgba(255, 233, 244, 0.267);
    border-color: rgb(201, 165, 183);
  }

  .checkbox-wrapper-47 label,
  .checkbox-wrapper-47 label::before {
    transition: 0.25s all ease;
  }






.search-recipe-button-ingredients {
    margin-bottom: 10px;
    width: 425px;
    font-weight: 600;
    color: #412c26;
    text-transform: uppercase;
    background-color: #b18597;
    padding: 0.8em 2.5em;
    background: #fff0f0;
    border: 2px solid #b18597;    
    border-radius: 0.75em;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-transition: background 150ms cubic-bezier(0, 0, 0.58, 1), -webkit-transform 150ms cubic-bezier(0, 0, 0.58, 1);
    transition: transform 150ms cubic-bezier(0, 0, 0.58, 1), background 150ms cubic-bezier(0, 0, 0.58, 1), -webkit-transform 150ms cubic-bezier(0, 0, 0.58, 1);
}

.search-recipe-button-ingredients::before {
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #f9c4d2;
    border-radius: inherit;
    -webkit-box-shadow: 0 0 0 2px #b18597, 0 0.625em 0 0 #ffe3e2;
    box-shadow: 0 0 0 2px #b18597, 0 0.625em 0 0 #ffe3e2;
    -webkit-transform: translate3d(0, 0.75em, -1em);
    transform: translate3d(0, 0.75em, -1em);
    transition: transform 150ms cubic-bezier(0, 0, 0.58, 1), box-shadow 150ms cubic-bezier(0, 0, 0.58, 1), -webkit-transform 150ms cubic-bezier(0, 0, 0.58, 1), -webkit-box-shadow 150ms cubic-bezier(0, 0, 0.58, 1);
}

.search-recipe-button-ingredients:hover {
    background: #ffe9e9;
    -webkit-transform: translate(0, 0.25em);
    transform: translate(0, 0.25em);
}

.search-recipe-button-ingredients:hover::before {
    -webkit-box-shadow: 0 0 0 2px #b18597, 0 0.5em 0 0 #ffe3e2;
    box-shadow: 0 0 0 2px #b18597, 0 0.5em 0 0 #ffe3e2;
    -webkit-transform: translate3d(0, 0.5em, -1em);
    transform: translate3d(0, 0.5em, -1em);
}

.search-recipe-button-ingredients:active {
    background: #ffe9e9;
    -webkit-transform: translate(0em, 0.75em);
    transform: translate(0em, 0.75em);
}

.search-recipe-button-ingredients:active::before {
    -webkit-box-shadow: 0 0 0 2px #b18597, 0 0 #ffe3e2;
    box-shadow: 0 0 0 2px #b18597, 0 0 #ffe3e2;
    -webkit-transform: translate3d(0, 0, -1em);
    transform: translate3d(0, 0, -1em);
}


/** LEFT INSTRUCTIONS **/
.search-instructions {
    display: flex;
    justify-content: center;
}
.search-instructions ol {
    max-width: 550px;
    counter-reset: index;  
}
.search-instructions li {
    display: flex;
    counter-increment: index; 
    align-items: center;
    padding: 12px 0;
    box-sizing: border-box;
    line-height: 1.7rem;
    color: #4b4141;
}
.search-instructions li::before {
    content: counters(index, ".", decimal-leading-zero);
    font-size: 1.3rem;
    text-align: rigt;
    font-weight: 600;
    min-width: 50px;
    padding-right: 15px;
    font-variant-numeric: tabular-nums;
    align-self: flex-start;
    background-image: linear-gradient(to bottom, rgb(231, 148, 71), rgb(228, 88, 158));
    background-attachment: fixed;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .search-instructions li + li {
    border-top: 1px solid rgb(87, 74, 80);
  }
  


  
  /** RIGHT IMAGE **/
.side-container {
    display: flex;
    justify-content: center;
    align-items: center;

}   

.side-img-container {
    display: flex;
    width: 550px;
    height: 550px;
    overflow: hidden;
 
}
.side-img-container img{
    object-fit: cover;
    left: 0;
    width: 100%;
    height: 100%;
}





  /** BOXTAGS **/
ul.ks-cboxtags {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    justify-content: center;
    list-style: none;
    padding: 20px;
}
ul.ks-cboxtags li{
  display: inline;
  text-transform: lowercase;
}
ul.ks-cboxtags li label{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: small;
    background-color: rgba(255, 255, 255, 0.623);
    border: 2px solid rgba(59, 56, 56, 0.3);
    color: #949494;
    border-radius: 12px;
    white-space: nowrap;
    margin: 3px 0px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
    transition: all .2s;
}
ul.ks-cboxtags li label {
    padding: 8px 12px;
    cursor: pointer;
}
ul.ks-cboxtags li label::before {
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    font-size: 8px;
    padding: 2px 6px 2px 2px;
    content: "\f067";
    transition: transform .3s ease-in-out;
}
ul.ks-cboxtags li input[type="checkbox"]:checked + label::before {
    content: "\f00c";
    transform: rotate(-360deg);
    transition: transform .3s ease-in-out;
}
ul.ks-cboxtags li input[type="checkbox"]:checked + label {
    border: 2px solid #a16376;
    background-color: #ffd4dd;
    color: #fff;
    transition: all .2s;
}
ul.ks-cboxtags li input[type="checkbox"] {
  display: absolute;
}
ul.ks-cboxtags li input[type="checkbox"] {
  position: absolute;
  opacity: 0;
}

@media (max-width: 1523px) {

    .tabs {
        width: 950px;
    }
    .ingredient-recipes-wrap {
        width: 80%;
    }
}

@media (max-width: 1200px) {
    .tab-container {
        padding: 1rem;
    }
    .tabs {
        width: 80%;
    }
  
}

@media (max-width: 860px) {

    .side-img-container {
        width:400px;
    height: 400px;
    }
    

}


@media (max-width: 768px) {
    
    .tab-container {
        width: 100%;
        padding: 0rem;
    }
    .tabs {
        width: 100%;
    }
    .side-img-container {
        width:400px;
        height: 400px;
    }
    .tab-container span {
        width: 100%;   
        font-size: 1.1rem;
        padding: 0.75rem;
    }
    .side-img-container {
        width: 80%;
        height: 80%;
     
    }
    .search-recipe-button-ingredients {
        width: 100%;
    }

}

