
/*LOGIN PAGE */
.login-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-size: 0.95rem;
    font-weight: 450;
    letter-spacing: 1.5px;
    line-height: 1.5rem;
    text-transform: lowercase;
    text-underline-offset: .25rem;
}
.login-field {
    display: flex;
    flex-direction: column;
    padding: 10px;
    gap: 0.3rem;
}
.input-container {
    display: flex;
    flex-direction: column;
}
.input-field {
    border-radius: 9px;
    border: none;
    padding:0.3rem 1rem;
    transition-duration: 0.5s;
}
.input-field:focus {
    outline-color: #ec4a4a;
    border-radius: 15px;
}
.login-button {
    text-align: center;
    padding: 0.3rem;
    border-radius: 8px;
    background-color: rgb(255, 197, 197);
    transition-duration: 0.4s;
    cursor: pointer;
    border: none;
}
.login-button:hover {
    background-color: #f77f7f;
}
.link {
    color: #f05f5f;
    transition-duration: 0.4s;
}
.link:hover {
    color: #f77f7f;
    
}
.login-footer {
    text-align: left;
}