
/* NAV-BAR */
.nav-container {
    background-color: #fdf7f1;
    position: sticky;
    z-index: 1000;
    top: 0;
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    align-items: center;
    padding: 0.8rem 2rem;
    gap: 1em;
    box-shadow: 0px 1px 10px #e6ded6;
}
.nav-container li:hover{
    background-color:#ffe9ef;
    border-radius: 10px;
    transition: 0.3s ease;
}
.nav-container a{
    color: rgb(75, 75, 75);
}
.web-title {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 0.3rem;
    text-decoration: none;
}
.sprite-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: .5rem;
    animation: slide 3s forwards;
    transform: translateX(-100%);
}
@keyframes slide {
    from {
        transform: translateX(calc(-100% - 2rem));
    }
    to {
        transform: translateX(0%);
    }
}
.mai-sprite {
    /*115 × 23*/
    width: calc(115px / 6);
    height: 23px;
    background:url(../../assets/maiSprite.png);
    animation: animate 0.4s steps(6) infinite;
    transform: scale(2);
}
@keyframes animate {
    from {
        background-position: 0;
    }
    to {
        background-position: -115px;
    }
}
.web-name {
    color: rgb(75, 75, 75);
    font-size: 1.7rem;
    font-weight: 700;
    text-transform: lowercase;
    text-underline-offset: .25rem;
}
.right-nav {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 1.3rem;

}
.right-mid-nav {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 1.3rem;
    margin-top: 6px;
}
.search {
    display: flex;
    justify-content: center;
    align-items: center;
}
.search img {
    width: 1.5rem;
}
.about {
    display: flex;
    justify-content: center;
    align-items: center;
}
.profile-circle {
    border: solid;
    border-width: 2px;
    border-color: rgb(87, 74, 80);
    background-color: #ffffff;
    padding: 1.5rem;
    border-radius: 50%;
    transition: 0.1s;
}
.profile-circle:focus {
    outline-color:#e8abc3;
}
a::before, a::after {
    content: '';
    position: absolute;
    transition: transform .5s ease;
}
.hover-line {
    text-decoration: none !important;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 6px;
    padding-bottom: 0.4rem;
}
.hover-line::before {
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background: #a16376;
    transform: scaleX(0);
}
.hover-line:hover::before {
    transform: scaleX(1);
}


/* MEDIA SIZING */
@media (max-width: 768px) {
  
    .nav-container {
        padding: 0.6rem 1rem;
    }
    .web-name {
        font-size: 1.5rem;
    }
    .profile-circle {
        padding: 1.1rem;
    }
    .right-nav {
        gap: 0.8rem;
        font-size: 0.9rem;
    }
    .right-mid-nav {
        gap:0.7rem;
    }
    .search img {
        width: 15px;
        margin: 0.1rem;
    }
    .mai-sprite {
        /*115 × 23*/
        transform: scale(1.5);
    }
    .search-span {
        font-size: 1rem;
    }
    
}
@media (max-width: 500px) {
  
    .nav-container {
        padding: 0.4rem 1rem;
    }
    .web-title {
        gap: 0rem;
    }
    .web-name {
        font-size: 1.1rem;
    }
    .profile-circle {
        padding: 0.7rem;
    }
    .recipe-title {
        font-size: 0.7rem;
    }
    .recipe-text{
        font-size: 0.5rem;
    }
    .right-nav {
        gap: 0.6rem;
        font-size: 0.8rem;
    }
    .right-mid-nav {
        gap:0.6rem;
    }
    .search img {
        width: 10px;
        margin: 0.01rem;
    }
    .mai-sprite {
        /*115 × 23*/
        transform: scale(1.2);
    }
    .search-span {
        font-size: 0.8rem;
    }
}
