
/* NAV-BAR */
.nav-container {
    background-color: #fdf7f1;
    position: sticky;
    top: 0;
    z-index: 1000;
    display: flex;
    justify-content:space-between;
    align-items: center;
    padding: 1rem 2rem;
    gap: 1em;
    box-shadow: 0px 1px 10px #e6ded6;
}

.nav-container a{
    color: rgb(75, 75, 75);
}
.web-title {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 0.3rem;
    text-decoration: none;
}
.sprite-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: .5rem;
    animation: slide 3s forwards;
    transform: translateX(-100%);
}
@keyframes slide {
    from {
        transform: translateX(calc(-100% - 2rem));
    }
    to {
        transform: translateX(0%);
    }
}
.mai-sprite {
    /*115 × 23*/
    width: calc(115px / 6);
    height: 23px;
    background:url(../../assets/maiSprite.png);
    animation: animate 0.4s steps(6) infinite;
    transform: scale(2);
}
@keyframes animate {
    from {
        background-position: 0;
    }
    to {
        background-position: -115px;
    }
}
.web-name {
    color: rgb(75, 75, 75);
    font-size: 1.7rem;
    font-weight: 700;
    text-transform: lowercase;
    text-underline-offset: .25rem;
}

.search {
    display: flex;
    justify-content: center;
    align-items: center;
}
.search img {
    width: 1.5rem;
}
.about {
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-profile-image {
    width: 37px;
    height: 35px;
    border-radius: 50%;
}
.profile-circle {
    cursor: pointer;
}
.profile-circle:focus {
    outline-color:#e8abc3;
}
a::before, a::after {
    content: '';
    position: absolute;
    transition: transform .5s ease;
}
.hover-line {
    text-decoration: none !important;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 6px;
    padding-bottom: 0.4rem;
}
.hover-line::before {
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background: #a16376;
    transform: scaleX(0);
}
.hover-line:hover::before {
    transform: scaleX(1);
}




.body-no-scroll {
    overflow: hidden;
    overflow: hidden;
  position: fixed; /* Prevent scrolling on iOS */
  width: 100%; /* Prevent width from changing on iOS */
  touch-action: none; /* Prevent scrolling on touch devices */
  }
  

.check-hamburger[type="checkbox"] {
    appearance: none;
    -webkit-appearance: none;
}
.icon-hamburger {
    display: none;
    cursor: pointer;
}
.ul-nav {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    gap: 2rem;
}

/* MEDIA SIZING */
@media (max-width: 768px) {
    .icon-hamburger {
        display: block;
    }
    .ul-nav {
        position: absolute;
        flex-direction: column;
        left: -100%;
        align-items: center;
        justify-content: center;
        background-color: rgb(255, 223, 236);
        gap: 2rem;
        top: 46.38px;
        width: 100%;
        height: calc(100vh - 46.38px);
        transition: 0.3s;
    }
    .check-hamburger[type="checkbox"]:checked ~ ul {
        left: 0;
        
    }
    .nav-container {
        padding: 0.7rem 1rem;
    }
    .web-name {
        font-size: 1.6rem;
    }
    .profile-circle {
        padding: 1.1rem;
    }
    .search img {
        width: 15px;
        margin: 0.1rem;
    }
    .mai-sprite {
        /*115 × 23*/
        transform: scale(1.6);
    }
    .search-span {
        font-size: 1rem;
    }
    .nav-profile-image {
        width: 52px;
        height: 49px;
        
    }
    
}

@media (max-width: 500px) {
    .ul-nav {
        font-size: 18px;
    }
    .web-title {
        gap: 0rem;
    }
    .web-name {
        font-size: 1.3rem;
    }
    .profile-circle {
        padding: 0.7rem;
    }
    .recipe-title {
        font-size: 0.7rem;
    }
    .recipe-text{
        font-size: 0.5rem;
    }
    .search img {
        width: 10px;
        margin: 0.01rem;
    }
    .mai-sprite {
        /*115 × 23*/
        transform: scale(1.3);
    }
    .search-span {
        font-size: 0.8rem;
    }

}
