
/* FOOTER */
.footer {
    background-color: rgb(87, 74, 80);
    margin-top: auto;
    padding: 2.3rem 1rem;
    color: rgb(255, 242, 244);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}
.footer-title{
    display: flex;
    align-items: center;
    text-decoration: none !important;
}
.footer-title img{
    width: 2.7rem;
    transform: rotate(30deg);
    margin-bottom: 0.3rem;
}
.footer-title h2 {
    font-size: 1.5rem;
    letter-spacing: 1px;
}
.footer-info {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2.5rem;
}
.github-container {
    display: flex;
    justify-content: center;
    align-items: center;
}
.linkedin-container {
    display: flex;
    justify-content: center;
    align-items: center;
}
.github-logo {
    width: 1.57rem;
    height: 1.53rem;
}
.linkedin-logo {
    width: 1.8rem;
}



