.trending-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
    padding: 1rem;
    width: 100%;
}   
.trend-title {
    display: flex;
    font-weight: bold;
    justify-content: center;
    align-self: center;
    padding: 1rem;
    background-color: rgb(231, 230, 213);
    border-radius: 8px;
    margin: 10px;
    width: 950px;
    font-size: 30px;
    font-weight: 300;
}
.splide-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 0.5rem;
    width: 100%;
    
}
.trend-card {
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    align-self: center;
    text-align: center;
    width: 275px;
    height: 300px;
    padding: 0.8rem;
    border: solid;
    border-radius: 1rem;
    border-width: 2px;
    border-color: rgb(87, 74, 80);
    gap: 0.8rem;
    text-decoration: none !important;
    transition-duration: 0.05s;

}
.trend-card:hover {
    border: solid;
    border-color: #a16376;
}
.trend-card-img {
    overflow: hidden;
    margin: 1px;
    height: 80%;
    border: solid;
    border-width: 2px;
    border-radius: 0.5em;
    
}
.trend-card-img img {
    object-fit: cover;
    left: 0;
    width: 100%;
    height: 100%;

}
.trend-card-details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-grow: 1;
    font-weight: 500;
    font-size: 19px;
}





@media (max-width: 1343px) {
    
    .trend-title {
        justify-content: center;
        align-self: center;
        width: 750px;
    }
}

@media (max-width: 940px) {
    .trending-container {
        width: 100%;
    }
    
}
@media (max-width: 768px) {
   .trend-title {
    width: 100%;
   }
}